body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 0 0;
}

#darkToggler {
    cursor: pointer
}

.navbar-brand {
    transform: translateY(-2px);
    margin-right: 20px
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: firebrick;
    border-color: firebrick;
}

.page-link {
    color: firebrick;
}

table, th, td {
    border: 1px none;
}

th {
    cursor: pointer;
}
/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
